* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(./img/Background.jpeg);
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

header {
  position: relative;
  height: 40vh;
}

header .main-logo {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

header .main-logo h2 {
  font-size: 46px;
}

header .main-logo h1 {
  font-size: 25px;
}

.kangaroo {
  position: absolute;
  left: 15px;
  top: 10px;
  height: 60px;
}

button .navbar-toggler {
  display: block;
  margin-top: 50px;
}

.hamburger {
  height: 35px;
}

nav .navbar-top {
  background-color: #000000;
}

main {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #000000;

}

section.about-me {
  min-height: 25vh;
  /* background-color: blueviolet; */
}