*
  padding: 0
  margin: 0
  box-sizing: border-box
.App
  position: relative
  width: 100%
  height: 100%
  background-image: url(./img/Background.jpeg)
  background-attachment: fixed
  background-position: center
  /* background-repeat: no-repeat; */
  background-size: cover
  header 
    position: relative
    height: 40vh
    nav
      a
        .kangaroo
          position: absolute
          left: 15px
          top: 10px
          height: 60px
      button
        .hamburger
          height: 35px
    .main-logo
      position: absolute
      left: 50%
      top: 60%
      transform: translate(-50%, -50%)
      font-family: 'Permanent Marker', cursive
      text-align: center
      text-transform: uppercase
      letter-spacing: 3px
      h1
        font-size: 25px
      h2 
        font-size: 46px
  main
    padding-top: 18px
    padding-bottom: 0
    background-color: #000000
  section.about-me
    position: relative
    min-height: 50vh
    .tittle
      position: absolute
      left: 50%
      top: 30%
      transform: translate(-50%, -50%)
      font-family: 'Permanent Marker', cursive
      text-align: center
      text-transform: uppercase
      letter-spacing: 3px
      background-color: #ffffff
      h2
        font-size: 23px 
      h1
        font-size: 49px  
