section.contact-container{
  /* background-color: #000; */
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin-top: 15vh;
  margin-bottom: 30vh;
  height: 100%;
}

section.contact-container ul{
  background-color: #000;
  text-align: center;
  width: 100%;
  padding-top: 30px;
}
/* 
section.menu-portfolio ul li.li{
  background-color: #555;
} */

section.contact-container .li {
  position: relative;
  list-style: none;
  margin-top: 7vh;
  margin-bottom: 13vh;
  margin: 7vh 15px 13vh 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  text-decoration: none !important;
  color: #ffffff !important;
  cursor: pointer;
}