nav.menu-hamburger {
  position: fixed;
  left: 100%;
  top: 0;
  z-index: 50;
  list-style: none;
  /* transition: 1s; */
}

li {
  list-style: none;
  margin-bottom: 13vh;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.7rem;
}

nav.active {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 23vh;
  list-style: none;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: #000000;
  z-index: 50;
  transition: 1s;
}