.navBar nav ul {
  list-style: none;
  padding: 10px 50px 15px;
  border: 1px solid #000000;
  height: 80px;
}

.navBar nav ul li {
  display: inline-block;
  margin: 10px 30px;
  padding-bottom: 5px;
}

.navBar nav ul li a {
  text-decoration: none;
  color: #000000;
  letter-spacing: 1px;
  font-size: 20px;
  padding: 10px 10px;
  border-bottom: 1px solid #ffffff;
  transition: .3s;
}

.navBar nav ul li a:hover {
  border-bottom: 1px solid #000000;
}